.good {
  color: rgba(60, 200, 200, 0.5);
}

.table,
th,
td {
  border: 1px solid rgb(7, 47, 58);
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(21, 75, 77);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(19, 193, 206);
  color: rgb(18, 46, 46);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #0b6d65;
  color: white;
}


/*Base font size is 16px by default 
1rem = 16px
font-size: 16px;
font-size: 1rem;
2rem = 32px;
*/
.container {
  height: 100 %;
  width: 100 %;
  background-color: ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding:5% ;
  box-sizing: border-box;
  position: relative;
  font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;;
}
.sustainable{
  font-size: 56px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  font-weight: 800;
}
p{
  line-height: 2;
}
img{
  width: 100%;
}
footer{
  padding:3% ;
   background-color: rgba(50, 206, 154, 0.979);-
}
@media screen and (max-width: 900px){
  .sustainable{
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  font-weight: 800;
}
}